.pageWrapper {
  position: relative;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
/* ------------------------------------*/
.houseCard {
  left: 0;
  top: 0;
  z-index: 1;
}

/* ------------------------------------*/
.houseCardTop {
  flex: 1;
  font-weight: bold;
  padding: 5px;
}
.houseCardTopTop {
  display: flex;
  justify-content: space-between;
}
.houseName {
  font-size: 20px;
}
.editButton {
  background-color: darkred;
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}
.editButton:hover {
  background-color: white;
  color: darkred;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.houseCardBottom {
  flex: 9;
  background-color: rgb(240, 239, 239);
  border-radius: 10px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.7);
  display: flex;
}

/* ------------------------------------*/
.houseCardLeft {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.houseCrest {
  width: 80%;
  aspect-ratio: 2/3;
  object-fit: cover;
  padding-top: 10px;
}
.leaderContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
}
.leaderField {
  display: flex;
  align-items: center;
  padding: 5px;
}
.leaderIcon {
  font-size: 20px !important;
  justify-self: center;
}

/* ------------------------------------*/
.houseCardRight {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.houseInfoArea {
  flex: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.houseText {
  padding: 20px;
  font-size: 1rem;
}
.houseTextTitle {
  font-weight: bold;
}
.housePoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pointUpdateInput {
  border: none;
  width: 200px;
  height: 20px;
  border-bottom: 1px solid gray;
}
.pointPlusButton {
  background-color: green;
  color: black;
  padding: 3px 8px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}
.pointPlusButton:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.pointMinusButton {
  background-color: red;
  color: black;
  padding: 3px 8px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}
.pointMinusButton:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
